<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:postgresql://database.cs.wpi.edu:5432/teamcdb</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">teamc</property>
    <property name="connection.password">teamc30</property>
    <mapping class="edu.wpi.capybara.objects.hibernate.CleaningsubmissionEntity"/>
    <mapping class="edu.wpi.capybara.objects.hibernate.EdgeEntity"/>
    <mapping class="edu.wpi.capybara.objects.hibernate.LocationnameEntity"/>
    <mapping class="edu.wpi.capybara.objects.hibernate.MoveEntity"/>
    <mapping class="edu.wpi.capybara.objects.hibernate.NodeEntity"/>
    <mapping class="edu.wpi.capybara.objects.hibernate.StaffEntity"/>
    <mapping class="edu.wpi.capybara.objects.hibernate.TransportationsubmissionEntity"/>
    <mapping class="edu.wpi.capybara.objects.hibernate.SecuritysubmissionEntity"/>
    <mapping class="edu.wpi.capybara.objects.hibernate.AudiosubmissionEntity"/>
    <mapping class="edu.wpi.capybara.objects.hibernate.ComputersubmissionEntity"/>
    <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>