.box{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10;
    -fx-border-inserts: 0;
    -fx-border-color:  #F6BD38;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-padding: 5, 5, 5, 5;
}

.box:hover {
    -fx-border-color:#012D5A;
}

.box:selected {
    -fx-border-color:#012D5A;
}